@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css);

:root {
  --rosynight-app-bg: #ffb7c5;
  --rosynight-bg: #181818;
  --rosynight-bg2: #181818;
  --rosynight-main: #fc8686;
  --rosynight-main2: #fc8686;
  --rosynight-message-color: #fc8686;
  --watermark-filter-invert: 0%;
  --watermark-filter-sepia: 50%;
  --watermark-filter-saturate: 3000%;
  --watermark-filter-hue-rotate: 210deg;
  --watermark-filter-brightness: 30%;
  --watermark-filter-contrast: 200%;
}

#app-mount .baseLayer_d4b6c5 {
  opacity: 1 !important;
  transform: unset !important;
  will-change: unset !important;
}

#app-mount .stop-animations * {
  transition-property: inherit !important;
  animation: inherit !important;
}

#app-mount .layer_d4b6c5.stop-animations:first-child::after {
  content: "" !important;
  position: fixed !important;
  background: rgb(0, 0, 0) !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0.85 !important;
  z-index: 999 !important;
  pointer-events: none !important;
}

#app-mount .layer_d4b6c5~.layer_d4b6c5 {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background: transparent !important;
  border-radius: 5px !important;
  box-shadow: var(--elevation-high) !important;
  width: 960px !important;
  height: 80vh !important;
  margin: auto !important;
  padding: 0 !important;
  overflow: hidden !important;
  contain: unset !important;
  z-index: 1000 !important;
}

#app-mount .layer_d4b6c5~.layer_d4b6c5>div,
#app-mount .layer_d4b6c5~.layer_d4b6c5 .standardSidebarView_c25c6d {
  position: static !important;
  border-radius: unset !important;
  width: 100% !important;
  height: 100% !important;
  margin: unset !important;
  padding: unset !important;
  overflow: hidden !important;
}

#app-mount .layer_d4b6c5~.layer_d4b6c5 .sidebar_c25c6d {
  width: 218px !important;
  padding: 20px 6px 20px 20px !important;
}

#app-mount .layer_d4b6c5~.layer_d4b6c5 .contentColumnDefault_c25c6d {
  padding: 20px 40px !important;
}

#app-mount .layer_d4b6c5~.layer_d4b6c5 .sidebar_e87574 {
  height: 80vh !important;
}

#app-mount .layer_d4b6c5~.layer_d4b6c5 .repoHeader-2KfNvH {
  max-width: calc(960px - 256px) !important;
  ;
}

#app-mount .layer_d4b6c5~.layer_d4b6c5 .standardSidebarView_c25c6d .editor {
  height: calc(80vh - 120px) !important;
}

#app-mount .layer_d4b6c5~.layer_d4b6c5 .toolsContainer_c25c6d,
#app-mount .layer_d4b6c5~.layer_d4b6c5 .toolsContainer_c25c6d .tools_c25c6d,
#app-mount .layer_d4b6c5~.layer_d4b6c5 .toolsContainer_c25c6d .container_df5532,
#app-mount .layer_d4b6c5~.layer_d4b6c5 .toolsContainer_c25c6d .closeButton_df5532 {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  width: 100% !important;
  max-width: unset !important;
  height: 100% !important;
  max-height: unset !important;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0 !important;
  cursor: default !important;
}

#app-mount .layer_d4b6c5~.layer_d4b6c5 .toolsContainer_c25c6d {
  position: fixed !important;
  top: 22px !important;
  z-index: -1 !important;
}

#app-mount .layer_d4b6c5~.layer_d4b6c5 .settingsToolbar-wu4yfQ {
  display: none !important;
}

#app-mount .layer_d4b6c5~.layer_d4b6c5 .header-2Kx1US {
  max-width: calc(960px - 730px) !important;
}

#app-mount .root_fccaa9 {
  position: fixed !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background: var(--settingsmodalbackground) !important;
  border-radius: 5px !important;
  box-shadow: var(--elevation-high) !important;
  width: 960px !important;
  height: 80vh !important;
  margin: auto !important;
  padding: 0 !important;
  overflow: hidden !important;
  contain: unset !important;
  z-index: 1000 !important;
}

#app-mount .root_fccaa9.enterDone_fccaa9 {
  transform: unset !important;
}

#app-mount .perksModal-CLcR1c {
  position: static !important;
  border-radius: unset !important;
  width: 100% !important;
  height: 100% !important;
  margin: unset !important;
  padding: unset !important;
}

#app-mount .perksModal-CLcR1c::before {
  width: 960px !important;
  height: 80vh !important;
  margin: auto !important;
}

#app-mount .perksModalContentWrapper-3RHugb {
  padding: 10px 0 10px !important;
}

#app-mount .root_fccaa9 .perksModal-CLcR1c .carousel-3dvee9 {
  margin-left: calc(-0.5 * (100vw - 960px)) !important;
}

#app-mount .root_fccaa9 .closeWrapper-1aVqeP,
#app-mount .root_fccaa9 .closeWrapper-1aVqeP .closeContent-1uXQiy,
#app-mount .root_fccaa9 .closeWrapper-1aVqeP .container_df5532,
#app-mount .root_fccaa9 .closeWrapper-1aVqeP .closeButton_df5532 {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  background: transparent !important;
  border: none !important;
  border-radius: 0 !important;
  width: 100% !important;
  max-width: unset !important;
  height: 100% !important;
  max-height: unset !important;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0 !important;
  cursor: default !important;
}

#app-mount .root_fccaa9 .closeWrapper-1aVqeP {
  position: fixed !important;
  top: 22px !important;
  z-index: -1 !important;
}

#app-mount .container_c2739c,
.app_a01fb1,
.bg_d4b6c5,
.chat_a7d72e,
.content_c2654d,
.contentRegionScroller_c25c6d,
.layer_d4b6c5,
.members_cbd271>div,
.scroller_c47fa9,
.applicationStore_cecc86,
.scroller_ff90b2,
.sidebar_a4d4d9,
.standardSidebarView_c25c6d,
.wrapper_b75bb9,
.wrapper_fea3ef,
.wrapper-22ayhK,
body {
  background: 0 0;
}

.container_ee69e0,
.members_cbd271,
.nowPlayingColumn_c2739c,
.privateChannels_f0963d,
.sidebar_a4d4d9>.scrollerBase-_bVAAt,
.sidebarRegionScroller_c25c6d {
  background: rgba(47, 49, 54, var(--sides-transp));
}

.panels_a4d4d9 {
  background: rgba(41, 43, 47, var(--sides-transp));
}

.scroller_fea3ef,
.withFrame_a934d8 {
  background: rgba(32, 34, 37, var(--sides-transp));
}

.scroller__244e5,
#app-mount .pageWrapper_a3a4ce,
.chatContent_a7d72e,
.contentRegion_c25c6d,
.header-6h98Y_::after,
.peopleColumn_c2739c,
.stickyHeader-hH_ZLl::after,
.titleContainer_e87574::after {
  background: rgba(54, 57, 63, var(--chat-transp));
}

.container_fc4f04.themed_fc4f04 {
  background: rgba(54, 57, 63, var(--sides-transp));
}

.container_fc4f04.themed_fc4f04,
.members_cbd271,
.nowPlayingColumn_c2739c,
.scroller_fea3ef,
.sidebar_a4d4d9,
.sidebarRegionScroller_c25c6d,
.withFrame_a934d8 {
  backdrop-filter: blur(var(--sides-blur));
}

#app-mount .children_fc4f04:after,
#app-mount .form_a7d72e:before {
  display: none;
}

.app_a01fb1 .layers_d4b6c5 {
  margin: 18px;
  border-radius: 6px;
  box-shadow: 0px 1px 8px var(--rosynight-bg);
  background-color: var(--rosynight-bg);
  -webkit-app-region: no-drag;
}


#account.menu_d90b3d {
  width: 220px;
}

#account.menu_d90b3d .submenu-1apzyU[aria-activedescendant^="account-status-picker"] {
  max-width: 220px;
}

#account.menu_d90b3d .profileGroup-1yKk23,
#account.menu_d90b3d .profileGroup-1yKk23+.separator-1So4YB {
  display: none;
}

.appMount_ea7e65,
.bg_d4b6c5, .directoryContainer_da3f59 {
  background-color: var(--rosynight-app-bg) !important;
}

.textContainer_e90143 {
  background-color: var(--rosynight-main2) !important;
}

.markup_f8f345 blockquote,
.markup_f8f345 pre {
  max-width: 100%;
}


.typeWindows_a934d8 .winButton_a934d8>svg {
  display: none;
}

.typeWindows_a934d8 .winButton_a934d8 {
  background: none;
  top: 0;
  width: 12px;
  height: 12px;
  margin: 4px 12px 0px 0px;
}

.typeWindows_a934d8 .winButton_a934d8:nth-child(2) {
  margin-right: 12px;
}

.typeWindows_a934d8 .winButton_a934d8::after {
  content: "";
  height: 12px;
  width: 12px;
  border-radius: 12px;
  transition: 0.1s;
}

.typeWindows_a934d8 .winButtonClose_a934d8::after {
  background-color: hsl(0, 50%, 50%) !important;
}

.typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(3)::after {
  background-color: hsl(120, 50%, 50%) !important;
}

.typeWindows_a934d8 .winButtonMinMax_a934d8:nth-child(4)::after {
  background-color: hsl(50, 50%, 50%) !important;
}

.typeWindows_a934d8>div:hover::after {
  transform: scale(1.1);
}

.container_b2ca13 {
  container-type: normal;
}

#app-mount .guilds_a4d4d9 .tree_fea3ef {
  outline: none !important;
}

#app-mount .guilds_a4d4d9 .scroller_fea3ef {
  margin-bottom: 100px;
}

#app-mount .panels_a4d4d9>.container_b2ca13 .avatarWrapper_b2ca13 {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app-mount .panels_a4d4d9>.container_b2ca13 .avatar_b2ca13 {
  width: 80px !important;
  height: 75px !important;
  margin-left: 50px;
}

#app-mount .nameTag_b2ca13 {
  display: none;
}

#app-mount .avatarWrapper_b2ca13:hover {
  background: transparent;
}

#app-mount .panels_a4d4d9>.container_b2ca13 .avatarWrapper_b2ca13 {
  position: fixed;
  bottom: 0;
  left: 0;
  border-top: none;
  margin-left: -57px;
  margin-bottom: 15px;
}

#app-mount .panels_a4d4d9>.container_b2ca13 .avatar_b2ca13 {
  display: flex;
  justify-content: center;
  filter: drop-shadow(0 0 5px);
  color: var(--rosynight-main);
}


.avatarWrapper_b2ca13 .avatarDecoration_c51b4e {
  display: none;
}

.avatarWrapper_b2ca13 .mask_c51b4e.svg_c51b4e {
  width: 55px;
  height: 55px;
}

#app-mount .nameTag_b2ca13 {
  display: none;
}

.container_b2ca13 {
  background-color: var(--rosynight-bg) !important;
}

.avatarWrapper_b2ca13 {
  width: 175px;
  height: 80px;
  border-radius: 6px;
  flex-direction: column;
}


.tutorialContainer_c96c45 {
  height: auto;
  margin-bottom: 120px;
}

.scroller_fea3ef {
  contain: none;
  margin-top: 70px;
}

.footer_d71945 {
  position: fixed !important;
  z-index: 1 !important;
  top: 50px !important;
  background: transparent;
  margin: -5px 0;
}

.withTagAsButton_b2ca13:hover,
.withTagless_b2ca13:hover {
  background-color: var(--rosynight-bg);
}


.container_b2ca13>.noWrap_ec1a20 {
  width: 224px;
  position: absolute;
}

.container_b2ca13>.noWrap_ec1a20 button {
  width: 100%;
  justify-content: space-evenly;
}

.icon_fc4f04 {
  color: var(--rosynight-main) !important;
}

.membersGroup_cbd271 {
  color: var(--rosynight-main);
}

.sidebar_a4d4d9+div {
  background-color: var(--rosynight-bg);
}
.members_cbd271,
.membersWrap_cbd271, .container_cbd271 {
	min-width: 60px;
	transition-duration: 500ms;
	transition-property: box-shadow, min-width, width;
	width: 60px;
	z-index: 10;
}

.members_cbd271:hover,
.membersWrap_cbd271:hover {
	min-width: 240px;
	width: 240px;
}

.membersWrap_cbd271 {
	height: 100%;
	position: absolute;
	right: 0;
}

.membersWrap_cbd271:hover {
	box-shadow: 0 0 20px 10px #00000044;
}

.membersGroup_cbd271 {
	height: 0;
	transition-duration: 500ms;
	transition-property: height;
}

.members_cbd271:hover .membersGroup_cbd271 {
	height: 40px;
}

.container_cbd271,
#MemberCount,
.ChannelDms-channelmembers-wrap .ChannelDms-channelmembers-header {
  background: var(--rosynight-bg) !important;
}


.typeWindows_a934d8 {
  position: relative;
}

.wordmark_a934d8 {
  display: flex;
  align-items: center;
  padding: 0 6px;
  height: calc(100% + 4px);
  top: -4px;
  font-size: 14px;
  font-weight: 600;
  font-family: "Lato";
  color: var(--rosynight-main);
}

.wordmark_a934d8>svg {
  display: none;
}

.wordmark_a934d8:after {
  filter: invert(var(--watermark-filter-invert)) sepia(var(--watermark-filter-sepia)) saturate(var(--watermark-filter-saturate)) hue-rotate(var(--watermark-filter-hue-rotate)) brightness(var(--watermark-filter-brightness)) contrast(var(--watermark-filter-contrast));
  content: url(https://i.imgur.com/Mpxeysq.jpeg);
}

.side_a0>:where([class^=bd-],[class*=-tab],:where([class*=-tab],[class^=bd-])+.separator_a0,:nth-child(-n+12)) {
order: -1;
}

.icon_fc4f04,
.title_fc4f04,
.tabBar_c2739c .item_c2739c,
.brand-3g5E0C.item-3XjbnG:hover,
.themed-2-lozF.item-3XjbnG:hover,
.clickable_fc4f04 .icon_fc4f04,
.clickable_fc4f04:hover .icon_fc4f04:hover,
.title_a1cafe,
.linkButtonIcon_c91bad,
.name_d808b0,
.username_f3939d,
.text_f7ebfd,
.discriminator_f3939d,
.button_adca65,
.button_adca65.enabled_adca65:hover,
.title_d1da5f,
.hovered_e07331,
.customStatus_b2ca13 {
  color: var(--rosynight-main);
}

.cozyMessage_d5deea .contents_f9f2ca>.markup_f8f345:not(:empty, code) {
  background-color: var(--rosynight-bg2);
  color: var(--rosynight-message-color);
  display: inline-block;
  max-width: 650px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 8px;
  border-radius: 15px;
}

.childWrapper_a6ce15,
.wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15,
.wrapper__8436d:hover .childWrapper_a6ce15 {
  background-color: var(--rosynight-main);
  color: var(--rosynight-bg);
}


.scrollableContainer_bdf0de {
  background-color: var(--rosynight-bg2);
}

.buttonWrapper_f9af59 {
  color: var(--rosynight-main);
}

.buttonWrapper_f9af59:hover {
  color: var(--rosynight-main2);
}

.attachButtonPlus_f298d4 {
  fill: var(--rosynight-main);
}

.attachButton_f298d4:hover .attachButtonPlus_f298d4 {
  fill: var(--rosynight-main2);
}

.standardSidebarView_c25c6d {
  background: var(--rosynight-main2) !important;
}

.button_adcaac.buttonColor_adcaac,
.button_adcaac .buttonColor_adcaac,
.button_adcaac.buttonColor_adcaac:hover,
.button_adcaac .buttonColor_adcaac:hover {
  background-color: var(--rosynight-main2);
  color: var(--rosynight-bg);
}

.subtext_be40e6,
.usernameContainer__22048 {
  color: var(--rosynight-main);
}


.bd-sidebar-header .bd-icon,
.bd-sidebar-header .bd-icon:hover {
  fill: var(--rosynight-bg);
}

.accountProfileCard_b69b77 {
  background-color: var(--rosynight-bg);
}

.background_b69b77,
.fieldList_b69b77 {
  background-color: var(--rosynight-main2);
  color: var(--rosynight-bg);
}

.fieldTitle_b69b77, .text-md\/normal_dc00ef {
  color: var(--rosynight-bg) !important;
}

.lookFilled_dd4f85.colorPrimary_dd4f85, .lookFilled_dd4f85.colorBrand_dd4f85 {
  background-color: var(--rosynight-bg);
  color: var(--rosynight-main);
}

.lookFilled_dd4f85.colorPrimary_dd4f85:hover, .lookFilled_dd4f85.colorBrand_dd4f85:hover {
  background-color: var(--rosynight-bg2);
}

.lookLink_dd4f85.colorPrimary_dd4f8, .title_b3a5c2, .heading-lg\/semibold_dc00ef, .selected_a0.item_a0, .selected_a0.item_a0:hover, .themed_a0.item_a0, .brand_a0.item_a0 {
  color: var(--rosynight-bg);
}

.top_a0 .brand_a0.selected_a0.item_a0 {
  border-color: var(--rosynight-bg2);
}

.top_a0 .brand_a0.item_a0:hover {
  border-color: var(--rosynight-bg2);
  color: var(--rosynight-bg2);
}

.colorSwatchLabel_cf715d, .lookLink_dd4f85.colorPrimary_dd4f85 {
  color: var(--rosynight-bg) !important;
}

.contentColumnWide_c25c6d .text-sm\/normal_dc00ef {
  color: var(--rosynight-bg) !important;
}

.defaultColor-2cKwKo,
.description-30xx7u,
.labelDescriptor-34wZ-z,
.h5-2RwDNl,
.label-2bTGzo,
.legend-1TXTJO {
  color: var(--rosynight-bg);
}

.actionButton_e01b91 path,
.headerCellContent_a6e298,
.overflow_a82120,
.headerText_c47fa9,
.name_ec8679,
.icon_d8bfb3 {
  color: var(--rosynight-main);
}

.modeSelected_d8bfb3 .icon_d8bfb3,
.modeSelected_d8bfb3:hover .icon_d8bfb3,
.modeUnreadImportant_d8bfb3 .icon_d8bfb3,
.modeUnreadImportant_d8bfb3:hover .icon_d8bfb3,
.modeConnected_d8bfb3 .name_d8bfb3,
.modeConnected_d8bfb3:hover .name_d8bfb3,
.modeSelected_d8bfb3 .name_d8bfb3,
.modeSelected_d8bfb3:hover .name_d8bfb3,
.modeUnreadImportant_d8bfb3 .name_d8bfb3,
.modeUnreadImportant_d8bfb3:hover .name_d8bfb3,
.notInteractive_d8bfb3.modeConnected_d8bfb3 .name_d8bfb3,
.notInteractive_d8bfb3.modeSelected_d8bfb3 .name_d8bfb3 {
  color: var(--rosynight-main2);
}

.unreadImportant_d8bfb3 {
  background-color: var(--rosynight-main2);
}

.channelName-3KPsGw,
.subtitle_d8bfb3 {
  color: var(--rosynight-main);
}

.colorable_ef18ee.primaryDark_ef18ee,
.colorable_ef18ee.primaryDark_ef18ee,
.colorable_ef18ee.primaryDark_ef18ee .centerIcon_ef18ee,
.colorable_ef18ee.primaryDark_ef18ee.active_ef18ee,
.colorable_ef18ee.primaryDark_ef18ee:hover {
  background-color: var(--rosynight-main);
  color: var(--rosynight-bg);
}

.controlIcon_ef18ee,
.controlIcon_ef18ee:hover,
.name_fd6364,
.headerChildren_fd6364,
.usernameFont_d80634,
.listDefault_d80634 .clickable_d80634:hover .username_d80634,
.icon_d80634 {
  color: var(--rosynight-main);
}

.privateChannels_f0963d [href="/store"] {
  display: none;
}


.interactive-1vLZ_I:focus-within,
.interactive-1vLZ_I:hover,
.interactiveSelected_c91bad {
  background-color: var(--rosynight-bg2);
}

.toolbar_fc4f04 a[href="https://support.discord.com"] {
  display: none;
}

.circleIconButton_db6521 {
  background-color: var(--rosynight-main);
  color: var(--rosynight-bg);
}

.circleIconButton_db6521:hover {
  background-color: var(--rosynight-main2);
  color: var(--rosynight-bg);
}

.scroller_bf550a {
  background-color: var(--rosynight-bg);
}

.wrapper_cd82a7,
.theme-dark .outer_ac5d22.active_ac5d22,
.theme-dark .outer_ac5d22.interactive_ac5d22:hover {
  background-color: var(--rosynight-bg2);
}

.textContent_cd82a7 {
  color: var(--rosynight-main);
}

.header_bf550a {
  color: var(--rosynight-main);
}

.section_cd82a7 {
  background-color: var(--rosynight-bg);
}

.activityText_c91bad,
.activity-icon {
  color: var(--rosynight-main2);
}

.header-2Kx1US,
.side-2ur1Qk .item-3XjbnG {
  color: var(--rosynight-bg);
}

.side-2ur1Qk .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP),
.topPill-3DJJNV .themed-2-lozF.item-3XjbnG:hover:not(.disabled-1nofHP) {
  background-color: var(--rosynight-main);
  color: var(--rosynight-bg);
}

.side-2ur1Qk .themed-2-lozF.item-3XjbnG:active:not(.disabled-1nofHP),
.topPill-3DJJNV .themed-2-lozF.item-3XjbnG:active:not(.disabled-1nofHP),
.side-2ur1Qk .themed-2-lozF.selected-g-kMVV.item-3XjbnG,
.topPill-3DJJNV .themed-2-lozF.selected-g-kMVV.item-3XjbnG {
  background-color: var(--rosynight-bg2);
  color: var(--rosynight-main);
}

.side-2ur1Qk>:where([class^=bd-], [class*=-tab], :where([class*=-tab], [class^=bd-])+.separator-2wx7h6, :nth-child(-n+9)) {
  order: -1;
}

.text-md-medium-2avxhQ,
.text-md-normal-304U3g,
.theme-dark .lookLink-15mFoz.colorPrimary-2AuQVo {
  color: var(--rosynight-bg) !important;
}

.lookFilled-yCfaCM.colorPrimary-2AuQVo,
.lookFilled-yCfaCM.colorBrand-I6CyqQ {
  background-color: var(--rosynight-bg);
  color: var(--rosynight-main);
}

.lookFilled-yCfaCM.colorPrimary-2AuQVo:hover,
.lookFilled-yCfaCM.colorBrand-I6CyqQ:hover {
  background-color: var(--rosynight-bg2);
  color: var(--rosynight-main);
}

.heading-lg-bold-3uwrwG {
  color: var(--rosynight-bg);
}

.top-K_jibn .item-3XjbnG,
.top-K_jibn .brand-3g5E0C.item-3XjbnG:active,
.top-K_jibn .brand-3g5E0C.selected-g-kMVV.item-3XjbnG,
.top-K_jibn .brand-3g5E0C.item-3XjbnG:hover {
  color: var(--rosynight-bg);
  border-bottom-color: var(--rosynight-bg);
}

.resultsGroup_b0286e {
  background-color: var(--rosynight-bg);
  color: var(--rosynight-main);
}

.theme-dark .option_b0286e:after {
  background: transparent;
}

.theme-dark .searchOption-3u1yGrT .filter_b0286e,
.theme-dark .searchOption-3u1yGrT .answer_b0286e,
.resultsGroup_b0286e .header_b0286e {
  color: var(--rosynight-main);
  font-weight: bold;
}

.theme-dark .option_b0286e .filter_b0286e,
.theme-dark .option_b0286e .answer_b0286e,
.theme-dark .option_b0286e .nonText_b0286e {
  color: var(--rosynight-main);
  font-weight: bold;
}

#SEARCH_OPTIONS-header.header_b0286e,
#HISTORY-header.header_b0286e {
  color: var(--rosynight-main);
}

#app-mount .container_eedf95 .option_b0286e.selected-rZcOL- {
  background-color: var(--rosynight-bg);
}

.option_b0286e strong {
  color: var(--rosynight-main);
}

.message_ddc613 .messageContent_f9f2ca,
.username_f9f2ca {
  color: var(--rosynight-main);
}

.cozy_f9f2ca .timestamp_f9f2ca {
  color: var(--rosynight-main2);
}

.searchBar_a46bef {
  background-color: var(--rosynight-main);
}

.icon_effbe2 {
  color: var(--rosynight-bg);
}

.public-DraftEditorPlaceholder-inner {
  color: var(--rosynight-bg);
}

.searchBar_f0963d .searchBarComponent_f0963d {
  background-color: var(--rosynight-main);
  color: var(--rosynight-bg);
}

.quickswitcher_f4e139 {
  background-color: var(--rosynight-bg);
}

.input_f4e139 {
  background-color: var(--rosynight-bg2);
}

.input_f4e139::placeholder {
  color: var(--rosynight-main);
}

#uid_6060 {
  background-color: var(--rosynight-bg);
}

.scroller_f4e139 {
  background-color: var(--rosynight-bg);
  color: var(--rosynight-main);
}

.header_e3c1c6,
.name_e3c1c6,
.note_e3c1c6,
.misc_e3c1c6,
.inline_b5053a .pro_b5053a,
.inline_b5053a .tip_b5053a {
  color: var(--rosynight-main);
}

.avatar_f9f2ca.clickable_f9f2ca {
  filter: drop-shadow(0 0 5px);
  color: var(--rosynight-main);
}

.avatar_f9f2ca:hover.clickable_f9f2ca:hover {
  filter: drop-shadow(0 0 8px);
  color: var(--rosynight-main);
  transform: scale(1.2) rotate(360deg);
  transition: width 0.5s ease, height 0.5s ease, transform 0.5s ease;
}


.list-3FIpnh>div:first-child {
  background-color: var(--rosynight-bg);
}

.container-2qVG6q,
.container-2qVG6q:hover {
  background-color: var(--rosynight-bg2);
}

.channelNameSpan-2CGJt7,
.username-u-ebrn,
.author-22H8ZU,
.messageContent-1SOr75,
.messageCountBox-XEP63e,
.messageCountIcon-2CvKyY,
.messageCountText-J-9pag {
  color: var(--rosynight-main) !important;
}

.newMessageCount-jqlY9z {
  color: var(--rosynight-main2) !important;
}

.pill_c993da,
.pill_c993da.clickable_c993da:not(.disabled_c993da):hover {
  background-color: var(--rosynight-main);
}

.lineClamp1-1iDPU7 {
  color: var(--rosynight-bg);
}

.header-1Uy0p6 {
  background-color: var(--rosynight-bg2);
}

.searchIcon-2Nw0OL {
  color: var(--rosynight-main);
}

.collapsed-23aTv6 .title-1v5ZfI::placeholder {
  color: var(--rosynight-main2);
}

.searchHeader_b7c924 {
  background-color: var(--rosynight-main);
}

.totalResults_b7c924,
.channelNameIcon_a9e225,
.channelName-3w2Y3c {
  color: var(--rosynight-main) !important;
}

.scroller_c2b47d {
  background-color: var(--rosynight-bg);
}

.message_ddc613,
.channelName-3w2Y3c {
  background-color: var(--rosynight-bg2);
}

.channelName-3w2Y3c {
  border-radius: 5px;
}

.cozy_f9f2ca .messageContent_f9f2ca {
  background-color: var(--rosynight-bg);
  display: inline-block;
  max-width: 650px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0;
  padding: 8px;
  border-radius: 15px;
}

.compactButton_fcbce6,
.compactButtonDisabled_fcbce6 {
  background-color: var(--rosynight-main);
}

.compactButton_fcbce6:hover {
  background-color: var(--rosynight-main2);
}

.header_c2668b,
.icon_fb52f0 {
  color: var(--rosynight-main);
}

.tabBar_c2739c .badge_c2739c {
  background-color: var(--rosynight-bg);
  color: var(--rosynight-bg);
}

.inner__999f6 {
  background-color: var(--rosynight-bg2);
}

.input__48d49::placeholder {
  color: var(--rosynight-main) !important;
}

.scroller-1bVxF5 {
  background-color: var(--rosynight-bg);
  border-radius: 5px;
}

.colorDefault-CDqZdO.focused-3qFvc8 {
  background-color: var(--rosynight-bg2);
  color: var(--rosynight-main);
}

.label-2gNW3x,
.arrow_d64d50,
.icon-E4cW1l,
.hint-BK71lM,
.slateTextArea_e52116,
.actionIcon_f6f816,
.addButtonIcon_a08117 {
  color: var(--rosynight-main);
}

.addButtonIcon_a08117:hover,
.iconItem_f6f816 .actionIcon_f6f816:hover,
.userInfoSectionHeader-2mYYun,
.userInfoText-2MFCmH.text-sm-medium_bc6ffc,
.text-sm-normal-3Zj3Iv {
  color: var(--rosynight-main2);
}

.modeMuted_d8bfb3 .icon_d8bfb3,
.modeMuted_d8bfb3 .name_d8bfb3 {
  color: var(--rosynight-main2);
}

.content-2a4AW9,
.searchBar_f0963d {
  background-color: var(--rosynight-bg);
}

.item_c4cd66 {
  background-color: var(--rosynight-main2) !important;
}

.ChannelDms-channelmembers-wrap:hover .item-3XjbnG,
.header_e5cc00,
.members_b83b18,
.iconContainer_b83b18,
.arrow_d64d50 {
  color: var(--rosynight-main) !important;
}

.videoGrid_bae578,
.participantsButton_b83b18 {
  background-color: var(--rosynight-bg2);
}

.overlayTitle_ba4b17 {
  background-color: var(--rosynight-main);
}

.button_e5cc00 {
  background-color: var(--rosynight-main);
  color: var(--rosynight-bg);
}

.button_e5cc00:hover {
  background-color: var(--rosynight-main2);
  color: var(--rosynight-bg);
}

.users_a5bc92 {
  background-color: var(--rosynight-main) !important;
  color: var(--rosynight-bg);
}

.total_a5bc92 {
  background-color: var(--rosynight-main2) !important;
  color: var(--rosynight-bg);
}

.total_a5bc92:after {
  border-right-color: var(--rosynight-main);
}

.name_d8bfb3 {
  color: var(--rosynight-main);
}

.button_adca65.enabled_adca65:hover,
.clickable_fd6364 .header_fd6364:hover,
.selected_fd6364 .header_fd6364,
.modeSelected_d8bfb3 .wrapper_d8bfb3,
.modeSelected_d8bfb3:hover .wrapper_d8bfb3 {
  background-color: var(--rosynight-bg2);
}

.title-2dsDLn,
.modeDefault-2fEh7a {
  color: var(--rosynight-bg) !important;
}

.radioBar-3w9XY-,
.sessionIcon_c7a2c0 {
  background-color: var(--rosynight-bg);
  color: var(--rosynight-main);
}

.info-2FZci4 .text-md-medium-2avxhQ,
.flexChild_dc333f {
  color: var(--rosynight-main) !important;
}

.formNotice-2nS8ey {
  background-color: var(--rosynight-main2);
}

.sessionInfoRow_c7a2c0,
.sessionMoreButton_c7a2c0,
.sessionMoreButton_c7a2c0:hover,
.lookOutlined-3yKVGo.colorRed-rQXKgM,
.defaultKeybindGroupHeader_f916fc,
.gameName_fd966d,
.hoverRoll_e07331,
.theme-dark .notDetected_fd966d .lastPlayed_fd966d,
.theme-light .notDetected_fd966d .lastPlayed_fd966d,
.theme-dark .nowPlayingAdd_fd966d,
.theme-light .nowPlayingAdd_fd966d {
  color: var(--rosynight-bg2) !important;
}

.theme-dark .notDetected_fd966d,
.theme-light .notDetected_fd966d,
.theme-dark .addGamePopout_fd966d {
  background-color: var(--rosynight-main2);
}

.markup_f8f345 a {
  color: var(--rosynight-main2) !important;
}

.wrapper_ba0ffb {
  background-color: var(--rosynight-bg);
}

.mention_edf32f,
.mention_edf32f:active,
.numberBadge__40d6f,
.unreadPill_c2654d,
.theme-dark .wrapper_d4fa29 {
  background-color: var(--rosynight-main) !important;
  color: var(--rosynight-bg);
}

.unreadPillCapStroke_c2654d {
  fill: var(--rosynight-main);
}

.divider_c2654d.isUnread_c2654d {
  border-top: 1px solid var(--rosynight-main);
}

.wrapper_f7e168 {
  background-color: var(--rosynight-main);
}

.sendIcon_a06035,
.embedAuthor_b0068a,
.embedDescription_b0068a,
.embedFields_b0068a,
.embedFooter_b0068a,
.embedMedia_b0068a,
.embedProvider_b0068a,
.embedTitle_b0068a {
  color: var(--rosynight-main) !important;
}

.icon_a3b500 {
  color: var(--rosynight-bg);
}

.activityText_a31c43,
.icon_f61c73,
.reactionBtn_f61c73 {
  color: var(--rosynight-main);
}

.reactionInner_f61c73 {
  background-color: var(--rosynight-main);
  border-radius: 5px;
}

.reactionCount_f61c73 {
  color: var(--rosynight-bg);
}

.theme-dark .scroller_f2bfbb,
.theme-dark .container_f2bfbb,
.theme-dark .reactors_f2bfbb {
  background-color: var(--rosynight-bg);
}

.reactionSelected_f2bfbb .defaultColor-24IHKz {
  color: var(--rosynight-main);
}

.userPopoutInnerNonPremium-3zrFkp {
  background: var(--rosynight-main) !important;
}

.overlayBackground-arbZMT {
  background: var(--rosynight-bg);
}

.userTagUsernameNoNickname-2e_xaO,
.discrimBase-KriZSj,
.date-YN6TCS,
.roleName_e4010c,
.addButtonIcon_e4010c,
.title-1r9MQ6,
.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active,
.top-K_jibn .item-3XjbnG,
.username-1g6Iq1,
.discriminator-1bqsd3,
.customStatus-kFfkj5 {
  color: var(--rosynight-main);
}

.top-K_jibn .selected-g-kMVV.themed-2-lozF.item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:active,
.top-K_jibn .item-3XjbnG,
.top-K_jibn .themed-2-lozF.item-3XjbnG:hover {
  border-color: var(--rosynight-main);
}

.connectedAccountContainer-SlCC-S {
  background-color: var(--rosynight-main);
}

.text-md-semibold-3xVVGu.connectedAccountNameText-2m46Qn,
.heading-lg-medium-3gUJeM,
.heading-lg-normal-1bqh2L,
.connectedAccountOpenIcon-QgWKH8 {
  color: var(--rosynight-bg) !important;
}

.pencilIcon-1MUmnO {
  color: var(--rosynight-main);
}

.header_fd6364,
.scroller_c43953,
.content_eed6a8,
.members_cbd271,
.layout_d808b0 {
  background-color: var(--rosynight-bg);
}

.side_a0 .item_a0,
.header_a0,
.description_b89ec7,
.defaultMarginh5_c46f6a,
.defaultColor_c46f6a,
.bd-sidebar-header h2,
.foreground_c44e94,
.text-xs-normal_ccc5fb {
  color: var(--rosynight-bg) !important;
}

.newMessagesBar_cf58b5 {
  background-color: var(--rosynight-main);
}

.barButtonMain_cf58b5, .span_cf58b5, .barButtonAlt_cf58b5 {
  color: var(--rosynight-bg);
}

.scroller_d90b3d {
  background-color: var(--rosynight-bg2);
}

.label_d90b3d, .icon_d90b3d {
  color: var(--rosynight-main);
}

.iconBadge_fc4f04 {
  background-color: var(--rosynight-main2);
}

.colorDefault_d90b3d.focused_d90b3d {
  background-color: var(--rosynight-bg);
}

.fileWrapper_f46c86.newMosaicStyle_b52bef {
  background-color: var(--rosynight-bg2);
}

.wrapper_cdfd51 {
  background-color: var(--rosynight-bg);
}

.childWrapperNoHoverBg_f90abb {
  background: var(--rosynight-main);
  color: var(--rosynight-bg);
}

.wrapper_f90abb:hover .childWrapper_f90abb, .wrapper_f90abb.selected_f90abb .childWrapper_f90abb {
  background: var(--rosynight-main2);
  color: var(--rosynight-bg);
}

button.button_adca65, span.button_adca65 {
  color: var(--rosynight-main) !important;
}

.sprite_d91a75.spriteGreyscale_d91a75.active_d91a75 {
  background: var(--rosynight-main);
}

.member_cbd271{
  background: var(--rosynight-bg);
}

.container_c64476 {
  background-color: var(--rosynight-bg2);
}

.modeSelected_d8bfb3 .link_d8bfb3, .modeSelected_d8bfb3:hover .link_d8bfb3{
  background-color: var(--rosynight-bg2);
  color: var(--rosynight-main2) !important;
}
 
.customScroller_c25c6d .content_eed6a8 {
  background-color: var(--rosynight-main2);
}

.wrapperCommon_a08117, .name_a08117 {
  color: var(--rosynight-main);
}

.numberBadge_df8943, .mentionsBar_eba0ba {
  background-color: var(--rosynight-main) !important;
  color: var(--rosynight-bg) !important;
}

.theme-dark .sidebarContainer_a3a4ce {
  background-color: var(--rosynight-bg);
}

.name_ec8679 {
  color: var(--rosynight-main);
}

.h5_c46f6a, .title_ed1d57, .formNoticeBody_aae945 {
  color: var(--rosynight-bg);
}

.description_e72811, .roleName_a930f1, .person_a930f1, .tableTitle_e72811, .helpText_e72811 {
  color: var(--rosynight-bg) !important;
}

.tutorialContainer_f9623d {
  position: relative;
  margin: 8px 0;
}

#popout_391 {
  left: 45px !important;
}

.activityPanel_a4d4d9 {
  background-color: var(--rosynight-bg) !important;
}

.gameName_aa73eb{
  color: var(--rosynight-main);
}


.button_df39bd {
  background-color: var(--rosynight-bg2);
  color: var(--rosynight-main);
}

.button_df39bd:hover {
  color: var(--rosynight-main2);
}

.wrapper_d8bfb3:hover .name_d8bfb3, .modeMuted_d8bfb3:hover .name_d8bfb3 {
  color: var(--rosynight-main2);
}

.repliedTextContent_f9f2ca {
  padding: 0 10px !important;
}

.wrapper_f7e168 .button_f7e168 {
  color: var(--rosynight-bg);
}

.icon_ad923e {
  color: var(--rosynight-main);
}

.mentioned_d5deea {
  background-color: color-mix(in srgb, var(--rosynight-main) 40%, transparent) !important;
}
.mentioned_d5deea:before {
  background-color: var(--rosynight-main);
}

.mention, .channelMention  {
  background: var(--rosynight-main) !important;
  color: var(--rosynight-bg) !important;
}

.contents_dd4f85.buttonContents_adcaac .lottieIcon_f73ef7.buttonIcon_adcaac {
  --__lottieIconColor: var(--rosynight-main) !important;
}

.reminder-button {
  background-color: var(--rosynight-main) !important;
  color: var(--rosynight-bg) !important;
}



::-webkit-scrollbar-thumb {
  background-color: var(--rosynight-main) !important;
}

::selection {
  background-color: var(--rosynight-bg);
  color: var(--rosynight-main2);
}
